html body {
  margin: 0;
  margin-bottom: 50px;
  width: 100%;
}

.root {
  margin: 0 auto;
  width: 1024px;
  /* background-color: red; */
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

@media (max-width: 1024px) {
  .root {
    width: 95%;
  }
}
